<% provide(:title, "Intro") %>

<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | South Shore Studies</title>
</head>
<body>

	<h1>StaticPages#intro</h1>
<p>Find me in app/views/static_pages/intro.html.erb</p>


</body>
</html>








